body {
    background-image: url("../../pic/1.jpg");
    background-size: cover;
}
table {
    border: groove;
    position: relative;
    width: 80%;
    height: 100%;
    left: 120px;
}
h1 {
    color: aqua;
    font-family: cursive test1;
}
fieldset {
    position: relative;
    width: 80%;
    left: 120px;
    font-variant: jis04;
    color: antiquewhite;
    font-size: 25px;
}
form {

}
button {
    position: relative;
    left: 20px;
    font-family: Verdana cursive;
    color: antiquewhite;
    background-color: transparent;
    font-size: 20px;
}
