/*
    BODY
            */

body {
    font-family: Tahoma;
    background-color: #444;
    margin: 0;
    padding: 0;
    border: 0;
}

video#bgvid {
    position: fixed;
    float: left;
    z-index: -100;
    -webkit-background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
    
}

table {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    text-align: center;
    text-shadow: blur-radius 1;
    font-family: Tahoma;
    font-weight: 900;
    background: -webkit-radial-gradient(transparent, #999);
    border-radius: 5px;
}

#main {
    margin: 50px 100px;
    border: 2em;
    padding: 20px, 20px;
    color: #444;
    font-family:"verdana",sans-serif;
    left: 100px;
    right: 100px;
    top: auto;
    bottom: auto;
}

/*
    NAVIGATION
                */
            
nav {
    display: -webkit-inline-flex;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: nowrap;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 3000;
    background: -webkit-radial-gradient(50% 50%, #fff, #999);
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    margin: 0;
    box-shadow: 0 3px 1px #fff;
    
}

.location-field {
    font-size: 20px;
    color: #999;
    float: none;
    height: 30px;
    border: none;
    line-height: 30px;
    padding: 0 5%;
    margin-right: 20%;
    background-color: transparent;
    text-align: center;
    width: 380px;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}

.location-field:hover {
    background: -webkit-radial-gradient(white, #E2E5F2);
    border-radius: 5px;
    color: #111;
    
}

span {
    white-space: nowrap;
    width: 7%;
    background-color: transparent;
    color: #444;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
    padding: 3px;
    float: right;
    cursor: pointer;
    
}

span:hover {
    background: -webkit-linear-gradient(#777,white, #999);
    color: white;
    
}

#spanl {
    margin-right: 4%;
}

#button-nav {
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-color: transparent;
    flex: none;
    position: fixed;
    z-index: 3000;
    right: 1%;
    top: 0;
    padding: 0;
    background-image: url(../images/13d.png);
    background-position: center center;
    background-size: 170%;
    background-repeat: no-repeat;

}
#button-nav:hover {
        cursor: pointer;
    }

aside {
    position: fixed;
    margin-top: 20px;
    
}

#aside {
    text-align: center;
    font-size: 18px;
    margin-top: 10%;
    margin-left: -20px;
    border-radius: 4px;
    list-style: none;
    height: auto;
    width: 70px;
    background: -webkit-radial-gradient(white, #999)
}

#aside:hover {
    background: -webkit-linear-gradient(#777,white, #999);
    color: #444;
    cursor: pointer;
}

/*
    BODY TEXT
                */

h1 {
    text-align: center;
    font-family: Tahoma;
    color: #444;
}

h4 {
    text-align: center;
    font-family: Tahoma;
    color: #444;
}

article {
    margin: 50px 100px;
    border: 2em;
    padding: 20px, 20px;
    color: #444;
    font-family: "Verdana", sans-serif;
    left: 100px;
    right: 100px;
    top: auto;
    bottom: auto;
    -webkit-column-count: 3;
    background: -webkit-radial-gradient(transparent, #999);
    border-radius: 5px;
    white-space: pre-line;
    
}

section {
    padding: 2%;
}

a {
    text-decoration: none;
    color: #999;
    font: Tahoma;
    font-size: 110%;
    
}

td a {
    color: #444;
    font-family: Tahoma;
    font-weight: bold;
}

td a:hover {
    color: #999;
}

button {
    width: 70px;
    height: 10%;
}

p {
    margin-left: 5%;
    font-family: Tahoma;
    font-weight: bold;
    
}

/*
    FOOTER
            */

footer {
    color: #f4f4f4;
    width: auto;
    height: 100px;
    margin: 20px 0 0 0;
    padding: 20px 10% 20px 10%;
    background: -webkit-linear-gradient(top, transparent, #444 95%, transparent);
}

#social-items {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    box-sizing: border-box;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    font-size: 15px;
    line-height: 14px;
    color: #ababab;
    font-family: 'NotoSans-Regular', Arial, sans-serif;
}

#social-icons li {
    float: left;
    margin-right: 8px;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    
}

#social-icons li a {
  display: inline-block;
  width: 40px;
  height: 40px;
    
}

.icon-facebook {
    background-image: url(../images/ft-sns-fb.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.icon-twitter {
    background-image: url(../images/ft-sns-tw.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.icon-google {
    background-image: url(../images/ft-sns-gp.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.icon-rss {
    background-image: url(../images/ft-sns-rss.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/*
    Page1
            */

.contact-form {
    width: 80%;
    margin: 5% 10%;
}
            
            

/*
    Page2
                */
                
#content {
    min-height: 500px;
	padding-bottom:50px; /* Height of the footer element */
}

.nav ul {
    list-style: none;
    background-color: #2C423F;
    text-align: center;
    padding: 0;
    margin: 0;
}

.center {
    margin: 90px auto 35px auto;
}

#weather_cont {
    width: 1000px;
    margin: auto;
}

#scroller li {
    text-align: center;
    width: 20%;
    height: 250px;
    float:left;
    list-style: none;
    margin: 1%;
}

#scroller li img {
    height: 60px;
}

#scroller li:nth-child(odd) {
    background-color: #BBB;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0, .2);
}

#scroller li:nth-child(even) {
    background-color: #999;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0, .2);
}



.clearfix:after {
        display: table;
        content:"";
        
    }
    
.clearfix:after {
        clear: both;
    }


/*
    Media
            */

@media (max-width:850px) {
    nav>span {
        display: none;
    }
    article {
        display: none;
    }
    
    #button-nav {
        right: 5%;
    }
    h1 {
        font-size: 30px;
        margin-left: 7%;
    }
    .contact-form {
    margin-left: 15%;
}
}

@media (max-width:650px) {
    nav>span {
        display:none;
    } 
    #button-nav {
        right:10%;
    }
    h1 {
        margin-left: 15%;
        font-size:18px;
    }
    
    